.skeleton_content{
    display: flex;
    position: absolute;
    top: 17px;
    flex-direction: row;
    width: 90%;
    height: 230px;
}
.skeleton__image{
    width: 230px;
    border-radius: 7px;
    height: 230px;
}
.skeleton__main__info{
    height: 20vh;
    width: 500px;
    margin-left: 18px;
    display: flex;
    margin-top: auto;
    flex-direction: column;
    justify-content: space-between;
}