.cardslist__wrapper{
    width: 994px;
    height: auto;
    display: grid;
    grid-template-columns:318px 318px 318px;
    gap: 20px;
    margin-top: 33px;
    margin-inline: auto;
    margin-bottom: 24vh;
}
