.data__core__wrapper{
    position: relative;
    margin-inline:auto;
    width: calc(100% + 7px);
    height: 87vh;
    overflow: auto;
    scrollbar-gutter: stable;
}
.data__core__wrapper:hover::-webkit-scrollbar-thumb{
    background: #48494a;
}
::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
}

