.data__core__wrapper{
    position: relative;
    margin-inline:auto;
    width: 1034px;
    margin-top: 10px;
    height: 100vh;
    overflow: hidden;
}
.data__core__wrapper:hover{
    overflow: auto;
}
::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #48494a;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}