.main__content__wrapper{
    position: relative;
    width: 100%;
    grid-row: 1 / span 2;
    height: calc(86vh + 10px);
    border-radius: 7px;
    background-color: #1A1A1A;
    -webkit-box-shadow: 4px 4px 5px -2px rgba(213, 217, 219, 0.2);
    -moz-box-shadow: 4px 4px 5px -2px rgba(213, 217, 219, 0.2);
    box-shadow: 4px 4px 5px -2px rgba(213, 217, 219, 0.2);

}
.menu{
    width: 30px;
    height: 30px;
    position: absolute;
    top:7px;
    left: 7px;
    display: none;
    z-index: 1000;
}

@media screen and (max-width: 1080px) and (max-height: 2400px){
    .menu{
        display: block;
    }
    .main__content__wrapper{
        position: absolute;
        top: 0;
    }

}
