.main__wrapper{
    width: 99%;
    height: 88vh;
    margin-top: 1vh;
    margin-bottom: 10vh;
    display: grid;
    grid-template-columns:24.5% calc(75.5% - 10px);
    grid-template-rows:auto 1fr auto;
    gap: 10px;
    position: fixed;
}
