.main__content__wrapper{
    position: relative;
    width: 1060px;
    grid-column: 2;
    grid-row: 1 / span 2;
    height: calc(86vh + 10px);
    border-radius: 7px;
    background-color: #1A1A1A;
}
.logo{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.logo span{
    font-family: Pacifico;
    font-size: 25px;
}
.profile__picture__wrapper{
    overflow: hidden;
    width: 40px;
    height: 40px;
    border: 1px solid #060606;;
    border-radius: 50%;
    position: absolute;
    top:10px;
    right: 10px;
}
