.media__library__wrapper{
    width: 350px;
    grid-column: 1;
    grid-row: 2;
    height: 75vh;
    border-radius: 7px;
    background-color: #1A1A1A;
    -webkit-box-shadow: 4px 4px 5px -2px rgba(213, 217, 219, 0.2);
    -moz-box-shadow: 4px 4px 5px -2px rgba(213, 217, 219, 0.2);
    box-shadow: 4px 4px 5px -2px rgba(213, 217, 219, 0.2);
}