.music__player__wrapper {
    display: flex;
    align-items: center;
    position: fixed;
    bottom:0;
    width: 100%;
    height: 10vh;
    color: white;
    background-color: #060606;
}
.current__track{
    position: relative;
    width: 280px;
    height: 50px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    margin-left: 25px;
}
.track__img{
    width: 50px;
}
.add__track{
    width: 26px;
    height: 26px;
    position: absolute;
    right: 0;
    cursor: pointer;
}
.track__name{
    display: flex;
    flex-direction: column;
    line-height: 21px;
    height: 50px;
    width: 190px;
    margin-left: 8px;
    position: relative;
    overflow: hidden;
}
.track__name span:first-child{
    font-size:17px;
    font-weight: 400;
    position: absolute;
    top:5px;
    text-align: center;
    white-space: nowrap;
}
.scrolling{
    -moz-transform:translateX(60%);
    -webkit-transform:translateX(60%);
    transform:translateX(60%);
    -moz-animation: scroll-left 10s linear infinite;
    -webkit-animation: scroll-left 10s linear infinite;
    animation: scroll-left 10s linear infinite;
}
@-moz-keyframes scroll-left {
    0% { -moz-transform: translateX(60%); }
    100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes scroll-left {
    0% { -webkit-transform: translateX(60%); }
    100% { -webkit-transform: translateX(-100%); }
}
@keyframes scroll-left {
    0% {
        -moz-transform: translateX(60%); /* Browser bug fix */
        -webkit-transform: translateX(60%); /* Browser bug fix */
        transform: translateX(60%);
    }
    100% {
        -moz-transform: translateX(-100%); /* Browser bug fix */
        -webkit-transform: translateX(-100%); /* Browser bug fix */
        transform: translateX(-100%);
    }
}

.track__name span:last-child{
    position: absolute;
    bottom: 0;
    opacity: 0.7;
    font-size:15px;
    font-weight: 200;
}
.player{
    width: 578px;
    height: 55px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.player__buttons{
    width: 214px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline:auto;
}
.player__buttons button{
    border: none;
    background: transparent;
    cursor: pointer;
}
.time__bar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 15px;
    margin-top: -2px;
}
.progress__bar{
    margin-top: -4px;
    width: 500px;
    height: 3px;
}
.progress__bar input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 100%;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    border-radius: 3px;
}
.progress__bar input[type="range"]::-webkit-slider-runnable-track {
    height: 3px;
    background: #454444;
    border-radius: 3px;
}
.progress__bar input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 3px;
    width: 5px;
    background-color: #D9D9D9;
    border-radius: 3px;
    box-shadow: -408px 0 0 404px #D9D9D9;
}
.current__time,
.total__time{
    font-size: 15px;
    font-weight: 400;
    opacity: 0.8;
    height: 15px;
    width: 32px;
}
.total__time{
    text-align: right;
}
.volume__bar{
    display: flex;
    align-items: center;
    position: absolute;
    right: 25px;
}
.volume__icon{
    margin-right: 10px;
    width: 20px;
    height: 20px;
}
.volume__bar input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 100%;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    border-radius: 3px;
}
.volume__bar input[type="range"]::-webkit-slider-runnable-track{
    height: 3px;
    background: #454444;
    border-radius: 3px;
}
.volume__bar input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 3px;
    width: 5px;
    background-color: #fff;
    box-shadow: -408px 0 0 404px #fff;
}