.navigation__wrapper{
    width:100%;
    -webkit-box-shadow: 4px 4px 5px -2px rgba(213, 217, 219, 0.2);
    -moz-box-shadow: 4px 4px 5px -2px rgba(213, 217, 219, 0.2);
    box-shadow: 4px 4px 5px -2px rgba(213, 217, 219, 0.2);
    grid-column: 1;
    transition: .3s ease;
    grid-row: 1;
    height: 11vh;
    border-radius: 7px;
    background-color: #1A1A1A;
    display: flex;
    align-items: center;
}
.nav__block{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 119px;
    height: 60px;
    margin-left: 19px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.nav_title{
    display: flex;
    height: 26px;
    align-items: center;
    cursor: pointer;
    width: 119px;
    transition: .3s;
    opacity: 70%;
}
.nav_title span{
    margin-left: 14px;
}
.nav_title:hover{
    opacity: 1;
}
.close__button{
    width: 30px;
    height: 30px;
    left: 40vw;
    top: 0.5vh;
    position: absolute;
    z-index: 1000;
    background-color: #1A1A1A;
    border-radius: 7px;
    border:none;
    outline: none;
    -webkit-box-shadow: 4px 4px 5px -2px rgba(213, 217, 219, 0.2);
    -moz-box-shadow: 4px 4px 5px -2px rgba(213, 217, 219, 0.2);
    box-shadow: 4px 4px 5px -2px rgba(213, 217, 219, 0.2);
}
.close__button img{
    width: 90%;
    height: 90%;
}
@media screen and (max-width: 1280px) and (max-height: 2400px){
    .navigation__wrapper{
        box-shadow: none;
        position: absolute;
        z-index: 101;
        width: 37vw;
        transform: translateX(-110%);
    }
    .nav__block{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 60px;
        margin-left: 10%;
    }

    .nav_title{
        display: flex;
        height: 26px;
        width: 26px;
        transition: .3s;
        opacity: 70%;
    }
}
