.playlists{
    width: 922px;
    position: absolute;
    right: 0;
    left: 0;
    margin-left: 30px;
    height: 202px;
    margin-top: 50px;
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    gap:54px;
    justify-content: space-between;
}
