.playlists{
    width: 922px;
    position: absolute;
    right: 0;
    left: 0;
    margin-left: 30px;
    margin-top: 50px;
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    gap:54px;
    justify-content: space-between;
}
@media screen and (max-width: 1080px) and (max-height: 2400px){
    .playlists{
        width: 190px;
        margin-inline: auto;
        display: grid;
        height: auto;
        gap:30px;
        margin-top:10px;
        grid-template-columns:190px;
    }
}