.soundtracklist__wrapper {
    margin-top: 10px;
    width: 100%;
    background-color: transparent;
    position: relative;
}
.header__soundracklist{
    display: flex;
    align-items: center;
    width: 100%;
    background: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-bottom: 1px solid #808080;
    padding-bottom: 3px;
    margin-bottom: 2px;
}
.header__soundracklist span{
    color:#808080;
    font-size: 14px;
}
.header__soundracklist span:first-child{
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.anime__title__header{
    margin-left: 50px;
    width: 20vw;
}
.original__title__header{
    margin-left: 7vw;
    width: 27vw;
}
.header__soundracklist img{
    width: 20px;
    height: 20px;
    margin-left: calc(8.5vw + 20px);
}
@media screen and (max-width: 1080px) and (max-height: 2400px){
    .anime__title__header{
        display: none;
    }
    .original__title__header{
        margin-left: 40px;
        width: 180px;
    }
    .header__soundracklist img{
        margin-left: 20px;
    }
}