.soundtrack-container {
    color: #ebedeb;
    display: flex;
    align-items: center;
    padding-block:0.5%;
    border-radius: 5px;
    margin-bottom: 0.5%;
    width: 100%;
    height: auto;
    margin-inline:auto;
    background: transparent;
    transition: 0.2s linear;
}
.soundtrack-container.playing {
    background-color: #595959;
}
.soundtrack-container:hover{
    background-color: #333333;
}
.soundtrack-container:hover > .soundtrack__toggle__play{
    opacity: 1;
}
.soundtrack-container:last-child{
    margin-bottom: 0;
}
.soundtrack__toggle__play {
    display: flex;
    opacity: 0;
    padding: 0;
    margin-left: 1%;
    align-items: center;
    margin-block: auto;
    background-color: transparent;
    border: none;
    transition: .2s ease;
}
.soundtrack__toggle__play img {
    width: 3vh;
}
.soundtrack-image{
    margin-left: 1%;
    width: 4vh;
}

.soundtrack-title {
    white-space: nowrap;
    width: 20%;
    text-align: left;
    margin:0;
    margin-left: 23%;
    font-size: 90%;
    overflow: hidden;
}

.soundtrack-anime {
    white-space: nowrap;
    width: 15%;
    text-align: left;
    margin: 0;
    margin-left: 1%;
    color: #ebedeb;
    font-size: 100%;
    overflow: hidden;
}
