.home__page__wrapper{
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}
.logo{
    margin-top: 10px;
    text-align: center;
}
.logo span{
    font-family: Pacifico;
    font-size: 25px;
}