.home__page__wrapper{
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}
.logo{
    margin-top: 10px;
    text-align: center;
}
.logo span{
    font-family: Pacifico;
    font-size: 25px;
}
.greeting{
    width:98%;
    margin-inline:auto;
    margin-top:10px;
}
@media screen and (max-width: 1080px) and (max-height: 2400px){
    .greeting{
        width: 96%;
    }
}