.anime__page__wrapper{
    position: relative;
    width: 100%;
    min-height: 87vh;
    overflow: hidden;
}
.anime__banner{
    position: relative;
    width: 100%;
    border-top-left-radius:7px;
    border-top-right-radius:7px;
    overflow: hidden;
    height: 259px;
}

.anime__banner img{
    width: 100%;
    height: 100%;
}
.title__follow{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.title__follow img{
    position: absolute;
    right: 5px;
    width: 36px;
    height: 36px;
    cursor: pointer;
}
.blur img{
    width: 100%;
    filter: blur(200px);
}
.blur{
    width: 100%;
    filter: blur(200px);
    position: absolute;
    height: 470px;
    overflow: hidden;
}

