.anime__page__wrapper{
    position: relative;
    width: 100%;
    min-height: 87vh;
    height: auto;
}
.anime__banner{
    position: relative;
    width: 100%;
    border-top-left-radius:7px;
    border-top-right-radius:7px;
    overflow: hidden;
    height: 35vh;
}

.anime__banner img{
    width: 100%;
}
.anime__title{
    position: absolute;
    bottom: 1.5vw;
    left: 1.5vw;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
}

.anime__title h1{
    font-size: 55px;
    margin: 0;
}
.album__actions{
    margin-left: 20px;
    margin-top: 20px;
    width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.follow__button{
    border: 1px solid rgba(213, 217, 219, 0.2);
    background-color: #161515;
    color: white;
    transition: .2s linear;
    border-radius: 7px;
    padding-inline: 22px;
}
.follow__button:hover{
    background-color: #2E2E2E;
}
.follow__button span{
    font-size: 15px;
}
.anime__page__bottom__rgb{
    position: absolute;
    width: 100%;
    height: 40vh;
}
.play__album{
    width: 50px;
    height: 50px;
    cursor: pointer;
    outline: none;
    border: none;
    background: transparent;
}
.play__album img {
    width: 100%;
    height: 100%;
}
.blur img{
    width: 100%;
    filter: blur(200px);
}
.blur{
    width: 100%;
    filter: blur(200px);
    position: absolute;
    height: 470px;
    z-index: 0;
    overflow: hidden;
}

@media screen and (min-width: 320px) and (max-width: 655px){
    .anime__title h1{
        font-size: 30px;
    }
    .anime__banner{
        max-height: 150px;
    }
}
