.favorite__tracks__wrapper{
    width: 90%;
    height: 10vh;
    display: flex;
    align-items: center;
    transition: .2s linear;
    justify-content: center;
    margin-top: 18px;
    cursor: pointer;
    background-color: #161515;
    border-radius: 7px;
    border: 1px solid rgba(213, 217, 219, 0.2);
}
.favorite__tracks__content{
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
}
.favorite__tracks__content img{
    width: 50px;
    height: 50px;
}
.favorite__tracks__name{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}
.favorite__tracks__wrapper:hover{
    background-color: #2E2E2E;
}