.add-soundtrack-main{
    height: 80vh;
    width: 80%;
    background-color: #121212;
    color:white;
    border-radius: 20px;
}
span{
    font-size: 18px;
}
.original-title,.anime-title,.anime{
    width: 80%;
    margin-top: 3%;
    margin-inline: 10%;
    height: 5vh;
    background: transparent;
    color: white;
    font-size: 20px;
    border: none;
    box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
    outline: none;
    border-radius: 5px;
}
.track-type{
    margin-top: 3%;
    width: 40%;
    margin-inline: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.select {
    text-align: center;
    width: 200px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: transparent;
    color: white;
    outline: none;
    appearance: none;
    cursor: pointer;
}

.select option {
    font-size: 16px;
}

.select:hover {
    border: 1px solid #999;
}

.select:focus {
    border: 1px solid #007bff;
}
.method-of-adding{
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: 20%;
    margin-top: 3%;
}
.method-of-adding button{
    width: 45%;
    color:white;
    border: none;
    background: transparent;
    height: 60px;
}
.methods-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:3%;
    width: 100%;
    height: 23vh;
}
.file-upload{
    height: 5vh;
}
.youtube-upload input{
    height: 5vh;
    background: transparent;
    color: white;
    font-size: 20px;
    border: none;
    box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
    outline: none;
    border-radius: 5px;
    width: 500px;
}
.method-of-adding button.from-file::after {
    content: ""; /* Создаем пустой элемент */
    display: block; /* Сделаем его блочным элементом */
    width: 100%; /* Ширина элемента, чтобы он был под кнопкой */
    height: 2px; /* Толщина черты */
    background-color: white; /* Цвет черты */
    margin-top: 5px; /* Отступ сверху */
}

/* Скроем черту для кнопки "From YouTube" */
.method-of-adding button.from-youtube::after {
    content: "";
    display: block;
    width: 100%;
    height: 0; /* Толщина черты равна 0, она будет скрыта */
    margin-top: 0; /* Нет отступа сверху */
}
.create{
    display: flex;
}
.create button{
    padding-inline: 14px;
    padding-block: 8px;
    border: none;
    color: black;
    background-color: white;
    border-radius: 10px;
    margin-left: auto;
    margin-right: 20px;
    transition: .2s linear;
}
.create button:hover{
    color:white;
    background-color: #383838;

}