.home-page-container{
    margin-left: 18%;
    margin-top:10vh;
    background-color: #3a3b3a;
    font-family: "Oswald";
}
.anime-card-container {
    display: flex;
    margin-inline: 1%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.anime-container {
    display: flex;
    position: relative;
    align-items: flex-end;
    margin-top: 1%;
    width: 35%;
    height: 35vh;
    color:white;
    border-radius: 25px;
    border: none;
    padding: 0;
    cursor: pointer;
    flex-basis: calc(32.5%);
}
.anime-container h1{
    position: absolute;
    left: 4%;
    z-index: 100;
    bottom: 1%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 1.3vw;
    text-align: center;
}
.anime-container img {
    width: 100%;
    transition: .3s linear;
    border-radius: 25px;
    height: 100%;
    opacity: 0.8;
}
.anime-container img:hover{
    opacity: 100%;
}