.music-player-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top:0;
    margin-left: 18%;
    width: 82%;
    height: 10vh;
    color: white;
    background-color: #3a3b3a;
    font-family: "Oswald";
}

.player-buttons{
    margin-left: 10%;
    align-items: center;
}

.player-previous-button{
    padding: 0;
    background-color: transparent;
    border: none;
}
.player-previous-button img {
    width: 1.4rem;
}
.player-play-pause-button{
    padding: 0;
    background-color: transparent;
    border: none;
}
.player-play-pause-button img{
    width: 2rem;
}
.player-next-button{
    padding: 0;
    background-color: transparent;
    border: none;
}
.player-next-button img{
    width: 1.4rem;
}
.info-timebar{
    width: 40%;
    display: block;
    align-items: center;
    text-align: center;
}
.player-name-track{
    font-size: 1.5vw;
    margin-block: 0;
}
.time-bar{
    display: flex;
    justify-content: space-between;
    padding-top: 1vh;
}
.curent-time, .total-time {
}

.current-time, .total-time {
    font-size: 1vw;
}

.progress-bar{
    margin-inline: 1%;
    width: 100%;
}
.volume-bar {
    margin-right: 10%;
}