.home{

}
.nav_container{
    font-family: "Oswald";
    position: fixed;
    top:0;
    width: 16%;
    height: 100vh;
    background: -webkit-linear-gradient(90deg, rgb(17, 19, 18), rgb(69, 73, 73));
    background: -moz-linear-gradient(90deg, rgb(17, 19, 18), rgb(69, 73, 73));
    background: linear-gradient(90deg, rgb(17, 19, 18), rgb(69, 73, 73));
}
.navigation{
    width: 80%;
    height: 45vh;
    margin: auto;
}
.logo{
    text-align: left;
    text-decoration: none;
    font-weight: 700;
    color:white;
    font-size: 3vw;
}
.actions{
    margin-top: 30%;
    width: 100%;
    height: auto;
}
input::placeholder{
    color: white;
}
input:focus{
    border: 1px solid #ffffff;


}
.browse{
    color:white;
    width: 100%;
    background: transparent;
    font-weight: 400;
    font-size: 1.4vw;
    text-align: left;
    border: none;
    outline: none;
    border-radius: 0.5em;
}

@media screen and (max-width: 768px) {
    .nav_container{
        display: none;
    }


}

