.main {
    margin-top: 8vh;
    margin-left: 16%;
    background-color: #1b1c1c;
    font-family: "Oswald";
    height: 100vh;
}
.playlist-name {
    margin-top: 2%;
    color: white;
    text-align: center;
}
@media screen and (max-width: 768px) {
    .main{
        margin-left: 0;
        margin-top: 4vh;
    }
}