.soundtrack-container {
    color: #ebedeb;
    margin-inline: 0;
    display: flex;
    align-items: center;
    padding-block:0.5%;
    border-radius: 5px;
    margin-bottom: 0.5%;
    width: 100%;
    height: auto;
    margin-inline:auto;
    background-color: #1b1c1c;
    transition: 0.2s linear;
}
.soundtrack-container.playing {
    background-color: #3c3d3c;
}
.soundtrack-container:hover{
    background-color: #3c3d3c;
}
.soundtrack-container:last-child{
    margin-bottom: 0;
}
.soundtrack-play-button {
    display: flex;
    padding: 0;
    margin-left: 1%;
    align-items: center;
    margin-block: auto;
    background-color: transparent;
    border: none;
}
.soundtrack-play-button img {
    width: 3vh;
}
.soundtrack-image{
    margin-left: 1%;
    width: 4vh;
}

.soundtrack-title {
    white-space: nowrap;
    width: 20%;
    text-align: left;
    margin:0;
    margin-left: 23%;
    font-size: 90%;
    overflow: hidden;
}

.soundtrack-anime {
    white-space: nowrap;
    width: 15%;
    text-align: left;
    margin: 0;
    margin-left: 1%;
    color: #ebedeb;
    font-size: 100%;
    overflow: hidden;
}
@media screen and (max-width: 768px) {
    .soundtrack-play-button img {
        width: 4vh;
    }
    .soundtrack-container{
        margin-bottom: 4%;
    }
    .soundtrack-title {
        white-space: nowrap;
        text-align: left;
        width: 100px;
        margin-right: 0;
        font-size: 15px;
        overflow: hidden;
    }
    .soundtrack-anime {
        white-space: nowrap;
        width: 100px;
        text-align: left;
        margin-left: 1%;
        color: #ebedeb;
        font-size: 100%;
        overflow: hidden;
    }

}
