.soundtrack-container {
    color: white;
    padding-block:0.5%;
    border-radius: 5px;
    margin-bottom: 0.5%;
    width: 98%;
    margin-inline:auto;
    background-color: #1b1c1c;
    transition: 0.3s linear;
}
.soundtrack-container:hover{
    background-color: gray;
}
.soundtrack-container:last-child{
    margin-bottom: 0;
}
.soundtrack-play-button {
    display: flex;
    align-items: center;
    margin-block: auto;
    background-color: transparent;
    border: none;
}
.soundtrack-play-button img {
    width: 1rem;
}

.soundtrack-info {
    display: flex;
    text-align: center;
    align-items: center;
    margin-block: auto;
    font-size: 1vw;
    overflow: hidden;
}

.soundtrack-title {
    width: 11%;
    text-align: left;
    margin:0 39%;
    font-size: 1vw;
    overflow: hidden;
}

.soundtrack-anime {
    width: 10%;
    text-align: left;
    margin: 0 1%;
    color: #fff;
    font-size: 1vw;
    overflow: hidden;
}
