.soundtrack-container {
    color: #ebedeb;
    display: flex;
    align-items: center;
    padding-block:0.5%;
    border-radius: 5px;
    margin-bottom: 0.5%;
    width: 100%;
    height: auto;
    margin-inline:auto;
    background-color: #1b1c1c;
    transition: 0.2s linear;
}
.soundtrack-container:hover{
    background-color: #3c3d3c;
}
.soundtrack-container:last-child{
    margin-bottom: 0;
}
.soundtrack-play-button {
    display: flex;
    padding: 0;
    margin-left: 1%;
    align-items: center;
    margin-block: auto;
    background-color: transparent;
    border: none;
}
.soundtrack-play-button img {
    width: 3vh;
}
.soundtrack-image{
    margin-left: 1%;
    width: 3vhgit;
}
.soundtrack-info {
    display: flex;
    width: 100%;
    text-align: center;
    align-items: center;
    margin-block: auto;
    font-size: 1.3vw;
    overflow: hidden;
}

.soundtrack-title {
    white-space: nowrap;
    width: 20%;
    text-align: left;
    margin:0 23%;
    font-size: 1.3vw;
    overflow: hidden;
}

.soundtrack-anime {
    white-space: nowrap;
    width: 15%;
    text-align: left;
    margin: 0 1%;
    color: #ebedeb;
    font-size: 1.3vw;
    overflow: hidden;
}
