.soundtrack-container {
    display: flex;
    color: white;
    align-items: center;
    padding-left: 1%;
    padding-block:0.5%;
    border-radius: 5px;
    margin-bottom: 0.5%;
    background-color: #fff;
    width: 80%;
    margin-left: 10%;
    box-shadow: 1px 1px 1px #ffffff;
    background: -webkit-linear-gradient(45deg, rgb(2, 2, 2) 60%, rgb(148, 148, 148));
    background: -moz-linear-gradient(45deg, rgb(2, 2, 2) 60%, rgb(148, 148, 148));
    background: linear-gradient(45deg, rgb(2, 2, 2) 60%, rgb(148, 148, 148));
}
.soundtrack-container:last-child{
    margin-top: 0;
}
.soundtrack-play-button {
    background-color: #1db954;
    color: #fff;
    border: none;
    padding-inline: 1.2%;
    padding-block: 0.5%;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px;
}

.soundtrack-info {
    flex: 1;
    font-size: 1vw;
    overflow: hidden;
}

.soundtrack-title {
    margin: 0;
    font-size: 1vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.soundtrack-anime {
    margin: 5px 0;
    color: #666;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
