.login__wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login__data{
    height: 140px;
    width: 100%;
    display: flex;
    margin-top: 60px;
    flex-direction: column;
    justify-content: space-between;
}
.logo{
    display: flex;
    justify-content: center;
}
.logo img{
    width: 60px;
    height: 60px;
}
.login__content{
    width: 400px;
    border-radius: 7px;
    height: 500px;
    -webkit-box-shadow: 4px 4px 5px -2px rgba(213, 217, 219, 0.2);
    -moz-box-shadow: 4px 4px 5px -2px rgba(213, 217, 219, 0.2);
    box-shadow: 4px 4px 5px -2px rgba(213, 217, 219, 0.2);
    background-color: #1A1A1A;
    padding: 20px;
    position: relative;
}
.login__content input{
    height: 50px;
    outline: none;
}
.login__content button{
    outline: none;
    border: none;
    cursor: pointer;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 70px;
    border-radius: 7px;
    padding-inline: 20px;
    padding-block: 10px;
}
.redirection span{
    font-size: 14px;
}
.redirection{
    position: absolute;
    right: 20px;
    bottom: 20px;
}