.playlist__page__wrapper {
    width: 100%;
    position: relative;
    min-height: 100%;
}
.playlist__name {
    position: relative;
    margin-top: 10px;
    font-size: 2.5vw;
    text-align: center;
}
@media screen and (max-width: 1080px) and (max-height: 2400px){
    .playlist__name{
        font-size: 25px;
    }
}
