.playlist__page__wrapper {
    width: 100%;
    position: relative;
    min-height: 100%;
    overflow: hidden;
}
.playlist__name {
    position: relative;
    margin-top: 10px;
    text-align: center;
}
